<!DOCTYPE html>
<html>
  <head>
    <title>PhoneBuzz</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="https://static0.twilio.com/bundles/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <script type="text/javascript">

      $(document).ready(function() {
        $('#number-form').submit(function(event) {
          event.preventDefault();
          var number = $("input:first").val();

          $.post('/phonebuzz/call', {number: number}, function(result) {
            console.log('result',result);
          });
        })
      });

    </script>
  </head>
  <body>
    <form id="number-form">
      Phone number: <br>
      <input type="text" name="number" placeholder="+1 (555) 555-5555">
      <input type="submit">
    </form>

    <div id="log">Don't mind the styling...</div>
  </body>
</html>
