<!DOCTYPE html>
<html>
  <head>
    <title>PhoneBuzz</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="http://static0.twilio.com/bundles/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <script type="text/javascript">

      var TwilioCapability = Twilio.util.TwilioCapability;
      var accountSid = 'AC2c6e1c99a17e3b9105ef8f11730f1af6';
      var authToken = '5abc2c441a99f5f817f3d8eb8c2079c5';

      var capability = TwilioCapability(require(accountSid, authToken));
      capability.allow_client_incoming('test');
      console.log(capability.generate());
      Twilio.Device.setup(capability);

      //Twilio.Device.setup("<?php echo $token; ?>");

      Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
      });

      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });

      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
      });

      function call() {
        console.log('calling');
        Twilio.Device.connect();
      }
    </script>
  </head>
  <body>
    <button class="call" onclick="call();">
      Call
    </button>

    <div id="log">Loading pigeons...</div>
  </body>
</html>
